version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: fominyh_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  redis:
    image: redis:7-alpine
    container_name: fominyh_redis
    ports:
      - "6379:6379"

  backend:
    build:
      context: .
      dockerfile: infra/Dockerfile.backend
    container_name: fominyh_backend
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./backend:/app  # (я добавил)
    command: >
      sh -c "
      alembic upgrade head &&
      uvicorn app.main:app --host 0.0.0.0 --port 8000
      "

  celery_worker:
    build:
      context: .
      dockerfile: infra/Dockerfile.backend
    container_name: fominyh_celery_worker
    command: celery -A app.core.celery_app worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - db

  celery_beat:
    build:
      context: .
      dockerfile: infra/Dockerfile.backend
    container_name: fominyh_celery_beat
    command: celery -A app.core.celery_app beat --loglevel=info
    env_file:
      - .env
    depends_on:
      - redis
      - db

  nginx:
    build:
      context: .
      dockerfile: infra/nginx/Dockerfile
    container_name: fominyh_nginx
    ports:
      - "80:80"
    depends_on:
      - backend

volumes:
  pg_data:
